<div class="adminHolder">

  <div class="suggestion-side">

    <div class="display-buttons">
      <button class="dispBtn" (click)='getInfo("games")'>Games</button>
      <button class="dispBtn" (click)='getInfo("suggestions")'>Suggestions</button>
    </div>

    <div class="suggestionsHolder" *ngIf='displaySuggestions'>
      <div *ngFor='let suggestion of suggestions' [ngClass]='suggestion.added ? "sug added":"sug"'>
        <h3 class='text-center'>{{suggestion.game_title}}</h3>
        <h4 class="text-center">userID: {{suggestion.userID}}</h4>
        <h5 class="text-center">created: {{displayTime(suggestion.created)}}</h5>
        <div class="buttonArea">
          <button class="sugBtn markAdd"
            (click)='changeAdded(suggestion._id, suggestion.added)'>{{suggestion.added ? 'Undo': 'Add'}}</button>
          <button class="sugBtn delBtn" (click)='deleteSuggestion(suggestion._id)'>Delete</button>
        </div>
      </div>
    </div>

    <div class="gamesHolder" *ngIf='displayGames'>
      <div *ngFor='let game of games' class='game'>
        <div class="game-top">
          <img src={{game.img_url}} alt="">
        </div>
        <div class="game-body">
          <h3>{{ game.title }}</h3>
          <div class="game-details">
            <h4>{{ game.developer }}</h4>
            <h4>Team Game: {{ game.team_game ? 'Yes' : 'No' }}</h4>
            <div class="platHolder">
              <div [ngClass]='game.ps4 ? "plat" : "hidden"'>ps4</div>
              <div [ngClass]='game.xbox ? "plat" : "hidden"'>xbox</div>
              <div [ngClass]='game.nin_switch ? "plat" : "hidden"'>switch</div>
            </div>
          </div>

        </div>

        <div class="gameBtnArea">

          <button [ngClass]='gameDeleteID === game._id ? "gameBtn del":"gameBtn"' (click)='deleteGame(game._id)'>
            {{gameDeleteID === game._id ? 'Are You Sure?': 'Delete'}}
          </button>
          <button [ngClass]='gameDeleteID === game._id ? "gameBtn can":"gameBtn"' [value]='game._id'
            (click)='gameDeleteID === game._id ? cancelDelete() : viewPlayers($event)'>
            {{gameDeleteID === game._id ? 'Cancel': 'View Players'}}
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="add-game-panel">
    <div class="add-game-form">
      <div class="input-group">
        <label for="title">Title</label><br>
        <input type="text" placeholder="enter game title..." [(ngModel)]='game_title'>
      </div>
      <div class="input-group">
        <label for="developer">Developer</label><br>
        <input type="text" placeholder="enter developer..." [(ngModel)]='developer'>
      </div>
      <div class="input-group">
        <label for="ps4">PS4 </label>
        <input type="checkbox" [checked]='ps4' (change)='ps4 = !ps4'>
      </div>
      <div class="input-group">
        <label for="xbox">Xbox </label>
        <input type="checkbox" [checked]='xbox' (change)='xbox = !xbox'>
      </div>
      <div class="input-group">
        <label for="switch">Switch </label>
        <input type="checkbox" [checked]='switch' (change)='switch = !switch'>
      </div>
      <div class="input-group">
        <label for="team_game">Team Game </label>
        <input type="checkbox" [checked]='team_game' (change)='team_game = !team_game'>
      </div>
      <div class="input-group">
        <label for="userID">userID</label><br>
        <input type="text" placeholder='enter user ID...' [(ngModel)]='createUserID'>
      </div>
      <div class="input-group">
        <label for="img_url">Img Url</label><br>
        <input type="text" placeholder='eventer img url...' [(ngModel)]='gameImgUrl'>
      </div>



      <button class="test" (click)='addGameToDB()'>Add Game</button>
    </div>
  </div>


</div>