<div class="adminHolder">

  <div class="suggestion-side">
    <div *ngFor='let suggestion of suggestions' [ngClass]='suggestion.added ? "sug added":"sug"'>
      <h3 class='text-center'>{{suggestion.game_title}}</h3>
      <h4 class="text-center">userID: {{suggestion.userID}}</h4>
      <h5 class="text-center">created: {{displayTime(suggestion.created)}}</h5>
      <div class="buttonArea">
        <button class="sugBtn markAdd"
          (click)='changeAdded(suggestion._id, suggestion.added)'>{{suggestion.added ? 'Undo': 'Add'}}</button>
        <button class="sugBtn delBtn" (click)='deleteSuggestion(suggestion._id)'>Delete</button>
      </div>
    </div>
  </div>

  <div class="addGame-side">
    <div class="add-game-modal">
      <div class="input-group">
        <label for="title">Title</label><br>
        <input type="text" placeholder="enter game title..." [(ngModel)]='game_title'>
      </div>
      <div class="input-group">
        <label for="developer">Developer</label><br>
        <input type="text" placeholder="enter developer..." [(ngModel)]='developer'>
      </div>
      <div class="input-group">
        <label for="ps4">PS4 </label>
        <input type="checkbox" [checked]='ps4' (change)='ps4 = !ps4'>
      </div>
      <div class="input-group">
        <label for="xbox">Xbox </label>
        <input type="checkbox" [checked]='xbox' (change)='xbox = !xbox'>
      </div>
      <div class="input-group">
        <label for="switch">Switch </label>
        <input type="checkbox" [checked]='switch' (change)='switch = !switch'>
      </div>
      <div class="input-group">
        <label for="team_game">Team Game </label>
        <input type="checkbox" [checked]='team_game' (change)='team_game = !team_game'>
      </div>
      <div class="input-group">
        <label for="userID">userID</label><br>
        <input type="text" placeholder='enter user ID...' [(ngModel)]='createUserID'>
      </div>
      <div class="input-group">
        <label for="img_url">Img Url</label><br>
        <input type="text" placeholder='eventer img url...' [(ngModel)]='gameImgUrl'>
      </div>



      <button class="test" (click)='checkInput()'>Test</button>
    </div>
  </div>


</div>