<div class="game-page">
  <div class="search">
    <input type="text" [(ngModel)]='searchTerm' placeholder="search" (ngModelChange)='searchGameTitles()'>
    <a class='sugLink text-center' routerLink='/suggestion'>want to suggest a game?</a>
  </div>
  <div class="gameHolder" *ngIf='displayGames.length > 0'>

    <div *ngFor='let game of displayGames' class="game">
      <div class="game-top">
        <img src={{game.img_url}} alt="">
      </div>
      <div class="game-body">
        <h3>{{ game.title }}</h3>
        <div class="game-details">
          <h4>{{ game.developer }}</h4>
          <h4>Team Game: {{ game.team_game ? 'Yes' : 'No' }}</h4>
          <div class="platHolder">
            <div [ngClass]='game.ps4 ? "plat" : "hidden"'>ps4</div>
            <div [ngClass]='game.xbox ? "plat" : "hidden"'>xbox</div>
            <div [ngClass]='game.nin_switch ? "plat" : "hidden"'>switch</div>
          </div>
        </div>

      </div>

      <div [ngClass]="setButtonsClass()">
        <button class="gameBtn"
          (click)='viewMatrix($event, game.title, game._id, {"ps4":game.ps4, "xbox": game.xbox, "nin_switch": game.nin_switch})'>Add
          to Games</button>
        <button class="gameBtn" [value]='game._id' (click)='viewPlayers($event)'>View Players</button>
      </div>
    </div>
  </div>

  <app-games-modal *ngIf='showGamesModal' (closeModal)='closeMatrix($event)' [gameTitle]='gameTitle'
    [modalTop]='modalTop' [gameID]='gameSendID' [platformArray]='platformArray' [gamePlatforms]='gamePlatforms'
    [matrixInfo]='matrixInfo'>
  </app-games-modal>

  <footer>
    <div class="left-footer">
      <div class="wrap">
        <p class="footer-text text-center">Created By: Michael Campbell</p>
        <p class="footer-text text-center">&copy; 2019</p>
        <a class='fake-text' routerLink='/admin'>Made for educationial purposes</a>
      </div>
    </div>

    <div class="right-footer">
      <div class="wrap">
        <a target='_blank' href="https://mvcampbell3.com/" target='_blank'>Portfolio</a><br>
        <a target='_blank' href="https://github.com/Mvcampbell3">Github</a><br>
        <a target='_blank' href="https://www.linkedin.com/in/mvcampbell3/">Linkedin</a>
      </div>
    </div>
  </footer>
</div>