<div class="game-page">
  <div class="search">
    <input type="text" [(ngModel)]='searchTerm' placeholder="search" (ngModelChange)='searchGameTitles()'>
  </div>
  <div class="gameHolder" *ngIf='displayGames.length > 0'>

    <div *ngFor='let game of displayGames' class="game">
      <div class="game-top">
        <img src={{game.img_url}} alt="">
      </div>
      <div class="game-body">
        <h3>{{ game.title }}</h3>
        <div class="game-details">
          <h4>{{ game.developer }}</h4>
          <h4>Team Game: {{ game.team_game ? 'Yes' : 'No' }}</h4>
          <!-- <h4>PS4: {{ game.ps4 ? 'Yes' : 'No' }}</h4> -->
          <div class="platHolder">
            <div [ngClass]='game.ps4 ? "plat" : "hidden"'>ps4</div>
            <div [ngClass]='game.xbox ? "plat" : "hidden"'>xbox</div>
            <div [ngClass]='game.nin_switch ? "plat" : "hidden"'>switch</div>
          </div>
        </div>

      </div>

      <div [ngClass]="setButtonsClass()">
        <button *ngIf='gameIDs.indexOf(game._id) === -1' class="gameBtn"
          (click)='viewMatrix($event, game.title, game._id)'>Add to
          Games</button>
        <button class="gameBtn" [value]='game._id' (click)='viewPlayers($event)'>View Players</button>
      </div>
    </div>

    <app-games-modal *ngIf='showGamesModal' (closeModal)='closeMatrix($event)' [gameTitle]='gameTitle'
      [modalTop]='modalTop' [gameID]='gameSendID' [platformArray]='platformArray'>
    </app-games-modal>
  </div>
</div>