.search{
  width: 60%;
  margin: .5em auto;
  min-width: 300px;
  max-width: 500px;

  input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    font-size: 20px;
    padding: 5px;
    text-align: center;

    &:focus{
      outline: .25px slategray solid;
      background-color: whitesmoke;
    }
  }

  
}

.sugLink{
  display: block;
  font-size: 12px;
  color: #333;
  margin-top: 1.25em;
}

.gameHolder{
  width: fit-content;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 300px 300px;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 300px;
  }
}

.game{
  width: 300px;
  background-color: rgb(241, 241, 241);
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(143, 143, 143, 0.164);
  transition: box-shadow .25s;

  &:hover{
    box-shadow: 0 0 0 rgb(100, 100, 100);
    transition: box-shadow .25s;
  }
  
  .game-top{
    display: block;
    width: 256px;
    margin: 0 auto;
    line-height: .5em;
    border-radius: 10px;
    overflow: hidden;
  }

  img{
    display: block;
    width: 256px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;

  }

  h3{
    text-transform: capitalize;
    margin-bottom: 1.5em;
  }

  h4{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
  }

  .game-body{
    width: 256px;
    margin: 0 auto;
    padding: 30px 0;
  }

  .game-details{
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;

    .platHolder{
      color: green;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // justify-content: center;
      .plat{
        width: 90%;
        text-align: center;
        color: white;
        padding: 5px 0;
        background-color: slategrey;
      }
    }
  }

  .buttonArea{
    width: 256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .gameBtn{
      width: 48%;
      border: 1px black solid;
      padding: 5px 7px;
      background-color: white;
      transition: all, .3s;

      &:hover{
        background-color: #333;
        color: white;
        border-radius: 10px;
        transition: all, .3s;
      }

      &:active{
        transform: scale(.95);
      }

      &:focus{
        outline: none;
      }
    }
  }

  .hidden{
    visibility: hidden;
  }
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 2em;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;

  p.footer-text{
    font-size: 12px;
  }

  a.fake-text{
    font-size: 12px;
    color: black;
    text-decoration: none;
  }

  .right-footer a{
    font-size: 12px;
    color: #333;
  }

  .left-footer, .right-footer{
    display: grid;
    place-items: center center;
  }
}

