.container{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 2em;

  .splash{
    width: 100%;
    padding: 1em;

    h1{
      text-align: center;
    }

    p.subtitle{
      color: lighten(black, 20%);
      text-align: center;
      font-size: 12px;
    }

    p.content{
      padding: 3em;
      line-height: 1.5;
      letter-spacing: .8px;
      text-indent: 10px;
    }

    span.end-content{
      text-align: center;
      display: block;
      color: navy; 
      font-weight: bold;
    }
  }

  .form{
    width: 70%;
    min-width: 325px;
    border: 1px black solid;
    margin: auto;

    padding: 1em;


    .input-group{
      width: 100%;

      input[type=text], input[type=password]{
        width: 100%;
        padding: .5em;
        margin-bottom: .5em;

      }
    }
  }
}

.slideDown{
  height: 0px;
  overflow: hidden;
  animation-name: pop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes pop{
  0% {height: 0px}
  100% {height: 63.99px}
}