<div class="container">
  <div class="splash">
    <h1>Welcome to Teammate Finder</h1>
    <p class="subtitle">good luck and have fun</p>
    <p class="content">Looking to find someone to play a game who has a similar skill level as you? Need to find that
      missing piece to round out the squad? Console players can have a difficult time finding suitable players to play
      with or against online. Our goal is to provide a place where people can find others who play the same console
      games they do close to their skill level. You can learn more about our mission <a routerLink='/mission'>here</a>. </p>

    <p class='content text-center'>To get started, create an account, or log in if you are already signed up. Good Luck!</p>
    <button class="showBtn" (click)='changeModal()'>Start</button>
  </div>

  <div class="modalLogin" *ngIf='showModal' (click)='hideModal($event)'>
    <div class="form">
      <h3 class='text-center'>{{signup ? 'Sign Up': "Login"}}</h3>
      <div class="line-across"></div>
      <div class="input-group">
        <label for="email">Email</label><br>
        <input type="text" name="email" id="emailInput" [(ngModel)]="email">
      </div>

      <div class="input-group slideDown" *ngIf=(signup)>
        <label for="username">Username</label><br>
        <input type="text" name="username" id="usernameInput" [(ngModel)]="username">
      </div>

      <div class="input-group">
        <label for="password">Password</label><br>
        <input type="password" name="password" id="passwordInput" [(ngModel)]="password">
      </div>

      <!-- <div class="line-across"></div> -->

      <div class="errors" *ngIf='errorMessages.length > 0'>
        <h6 *ngFor='let errorMessage of errorMessages'>{{errorMessage.msg}}</h6>
      </div>

      <div class="input-group logButtonArea">
        <button (click)="signup ? postSignupUser() : postLoginUser()">Send</button>
        <button (click)="changeForm()">{{signup ? "Already a member?":"Need to Sign Up?"}}</button>
      </div>
    </div>
  </div>


</div>