.container{

  height: calc(100vh - 56.8px);
  padding: 50px;
  background: url('https://images.unsplash.com/photo-1533381309471-b8e57002fc47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1907&q=80');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 700px) {
    padding: 50px 5px;
  }

  .splash{
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 10px;
    width: 70%;
    min-width: 350px;
    margin: 0 auto;
    padding: 1em;

    h1{
      text-align: center;
    }

    p.subtitle{
      color: lighten(black, 20%);
      text-align: center;
      font-size: 12px;
    }

    p.content{
      padding: 1em;
      line-height: 1.5;
      letter-spacing: .8px;
      text-indent: 10px;
    }

    span.end-content{
      text-align: center;
      display: block;
      color: navy; 
      font-weight: bold;
    }

    .showBtn{
      width: 30%;
      min-width: 75px;
      padding: 1em 0;
      display: block;
      margin: 0 auto;
      border: 1px black solid;
      border-radius: 10px;
      background-color: slategray;
      color: white;
      transform: all, .25s;

      &:hover{
        background-color: #333;
        transform: all, .25s
      }

      &:active{
        transform: scale(.90);
      }

      &:focus{
        outline: none;
      }
    }
  }

  .modalLogin{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.856);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    .form{
      width: 350px;
      padding: 2em 1em;
      background-color: #ccc; 
      border-radius: 10px;
      .input-group{
        width: 100%;
  
        input[type=text], input[type=password]{
          width: 100%;
          padding: .5em;
          margin: .5em 0;
          border: none;
          border-radius: 10px;
        }

        
      }
    }
  }
  
}

.logButtonArea{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;

  button{
    display: block;
    width: 48%;
    padding: 6px 0;
    border-radius: 10px;
    background-color: slategray;
    color: white;
    border: none;

    &:hover{
      background-color: #333;
      color: white;
    }

    &:active{
      transform: scale(.90);
    }

    &:focus {
      outline: none;
    }
  }


}

.slideDown{
  height: 0px;
  overflow: hidden;
  animation-name: pop;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes pop{
  0% {height: 0px}
  100% {height: 63.99px}
}