<div class="bg">
  <div class="container">
    <h2 class="text-center mission-title">Our Mission</h2>
    <p class="mission-content text-center">Does this sound familiar?</p>
    <p class="mission-content italics">Loaded into a new game. Have a squad of random people that the game has match made for me. The game has started and I am in it to win it, but one of my teammates is AFK, another is not even close to us on the map, and the one person who is actually sticking close to me is playing his/her 3rd match ever.</p>
    <p class="mission-content">Online gaming can be frustrating. Some games implement skill-based match making to help with this, but sometimes that creates more problems than it solves. Our mission is provide a place where console gamers can find others who play the same game they do, on the same console, near the same skill level.</p>
    <p class="mission-content italics">But TMF, the whole self-ranking thing makes this totally subjective and who knows if someone is as good or bad as they say they are?</p>
    <p class="mission-content">That is 100% accurate. We want players to be honest about their abilities so that they can have the best experience possible. Futhermore, we want to encourage an environment where not only is this where players come to find others to play games with, but also where they can expect to be treated with respect. If someone has misjudged their skill level, maybe YOU can show them the skills required to meet those expectations. Or you can very nicely never play with them again. It's up to you.</p>
    <p class="mission-content">It would be nice to be able to say that we won't tolerate trolling or bullying here. Unfortunately, we are not able to control everything on the internet. We plan on implementing some kind of process where people can report playes who are abusive. The problem is that abuse takes many forms, and illegitimate claims can be one of them. We also want to have skill-ranking feed back, but we fall into the same traps there as well. In short, the responsibility of what you rank your skill as for games falls to you.
    The responsibility of how you treat others falls to you. When in doubt, follow the example of Bill S. Preston and be excellent to each other.
    </p>
    <a routerLink='/'>Home</a>

  </div>
</div>