<div class="profileHolder" *ngIf='userInfo'>
  <div class="leftSide">
    <div class="playerInfo">

      <div class="playerInfo-top">
        <h3>{{ userInfo.username }}</h3>
        <div class="editButton" (click)='editClick()'>+</div>
      </div>

      <div [ngClass]="setAddClass()">
        <h4 class='text-center'>Add Platform</h4>
        <div class="platHolder">
          <div [ngClass]='platClasses("ps4")' (click)='setPlat("ps4")' value='ps4'>ps4</div>
          <div [ngClass]='platClasses("xbox")' (click)='setPlat("xbox")' value='xbox'>xbox</div>
          <div [ngClass]='platClasses("switch")' (click)='setPlat("switch")' value='switch'>switch</div>
        </div>
        <div class="input-group">
          <input type="text" placeholder='gamertag...' [(ngModel)]='addPlatformTag'>
          <button class="addPlatBtn" (click)='handleAddPlatform()'>Add</button>
        </div>


      </div>

      <div class="platforms">
        <div class="errorMessages" *ngIf='platformErrorMessages.length > 0'>
          <h6 class='red-error text-center mb-2' *ngFor='let errorMessage of platformErrorMessages'>{{errorMessage.msg}}</h6>
        </div>
        Platforms:
        <div *ngFor='let platform of userInfo.platforms' class="platformGroup">
          <div>{{platform.system}}: {{platform.gamerTag}}</div>
          <div class="delPlat" (click)='handleDeletePlatform(platform.system, platform.gamerTag)'>x</div>
        </div>

      </div>
    </div>

    <div class="deleteHolder">
      <button class="delBtn" (click)='toggleDelete()'>{{deleteActive ? 'Cancel': 'Delete Game'}}</button>
    </div>
  </div>
  <div class="RightSide">
    <div (click)='handleClick(matrix._id, matrix.gameID.title, matrix.gameID._id)'
      [ngClass]="deleteActive ? 'matrixGame deleteClass':'matrixGame'" *ngFor='let matrix of matrixInfo'>
      <div [ngClass]="deleteActive ? 'game-title game-info delete-bg': 'game-title game-info keep'">
        {{matrix.gameID.title}}</div>
      <div [ngClass]="deleteActive ? 'game-platform game-info delete-bg-light': 'game-platform game-info keep-light'">
        system: {{matrix.platform}}</div>
      <div [ngClass]="deleteActive ? 'game-gamerTag game-info delete-bg': 'game-gamerTag game-info keep'">
        {{matrix.gamerTag}}</div>
      <div [ngClass]="deleteActive ? 'game-rating game-info delete-bg-light': 'game-rating game-info keep-light'">skill:
        {{matrix.selfRating}}</div>
    </div>
    <button class="addMatrix" (click)='sendToGamesPage()'>Add Game</button>
  </div>

  <app-delete-modal (closeModal)='closeModalFunc($event)' *ngIf='showDelModal' [modalTop]='modalTop'
    [modalID]='modalIDSend' [gameTitle]='gameTitleSend' [deleteType]='deleteType' [deleteSystem]='deleteSystem'
    [deleteGamerTag]='deleteGamerTag'></app-delete-modal>
</div>