<div class='container'>
  <div class='infoBox'>
    <h3 class='text-center'>Suggest a game</h3>
    <p>It is important to us and our users that we keep this site updated as best we can. If there is a game on any
      console that you would like to have added to our database, please let us know below. This way there is not 12
      different versions of the same game!</p>
    <p class="text-center">Thank You</p>
    <input type='text' [(ngModel)]='gameTitle' placeholder='Enter game title...'><br>
    <button class='addGameBtn' (click)='addGameSuggestion()'>Submit</button>
  </div>

</div>