<div class="games-modal" [ngStyle]='{"top":modalTop+"px"}'>
  <div class="modal-form">
    <h3 class="text-center">{{gameTitle}}</h3>
    <h5 class="text-center">Skill Level</h5>
    <div class="skillButtons">
      <button class="skillBtn" id="left-end" value='1' (click)='saveRating($event)'>1</button>
      <button class="skillBtn" value='2' (click)='saveRating($event)'>2</button>
      <button class="skillBtn" value='3' (click)='saveRating($event)'>3</button>
      <button class="skillBtn" value='4' (click)='saveRating($event)'>4</button>
      <button class="skillBtn" id="right-end" value='5' (click)='saveRating($event)'>5</button>
    </div>
    <div class="platforms" *ngIf='platformArray.length > 0'>
      <h5>Select Platform</h5>
      <div *ngFor='let platform of displayPlatformArray' [ngClass]='setPlatformClass(platform.system, platform.gamerTag)'
        (click)='setPlatform(platform.system, platform.gamerTag)' [attr.data-system]='platform.system'
        [attr.data-gamerTag]='platform.gamerTag'>
        <span class='system'>{{platform.system}}</span><span class='gamerTag'>{{platform.gamerTag}}</span>
      </div>
    </div>

    <div class="errors" *ngIf='errorMessages.length > 0'>
      <h6 class='red-error text-center mb-2' *ngFor='let errorMessage of errorMessages'>{{errorMessage.msg}}</h6>
    </div>

    <div class="buttonArea">
      <button class='addGameBtn' (click)='createMatrix()'>Add Game</button>
      <button class='cancelBtn' (click)='closeModalFunc()'>Close</button>
    </div>
  </div>
</div>